In [4]:
print("The total amount is: ", 100 * (1+5/100)**7)
print("Wait, I forget, what was the amount again?")
print("The total amount is: ", 100 * (1+5/100)**7)

The total amount is:  140.71004226562505
Wait, I forget, what was the amount again?
The total amount is:  140.71004226562505

In [5]:
amount = 100 * (1+5/100)**7
print("The total amount is: ", amount)
print("Wait, I forget, what was the amount again?")
print("The total amount is: ", amount)

The total amount is:  140.71004226562505
Wait, I forget, what was the amount again?
The total amount is:  140.71004226562505

Initial variable example

In [2]:
primary = 100
r = 5.0
n = 7
amount = primary * (1+r/100)**n 
print(amount)

140.71004226562505

In [7]:
initial_amount = 100
interest_rate = 5.0
number_of_years = 7
final_amount = initial_amount*(1 + interest_rate/100)**number_of_years 
print(final_amount)

140.71004226562505

variable types

In [10]:
my_variable = "29 * 13"
my_variable2 = 29 * 13
print(my_variable)
print(my_variable2)

29 * 13
377

Operations with str variables

In [11]:
var1 = 'Hello'
var2 = ' world!'
var = var1 + var2
print(var)

Hello world!

In [12]:
rpt = "repeating"
print(rpt * 30)

repeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeatingrepeating

In [13]:
print("Hello" + 42)

TypeError: can only concatenate str (not "int") to str